{% extends 'layouts/base.html' %}
{% load static %}
{% load i18n %}
{% block title %}My Account{% endblock %}
{% block body %}class="user-register blog"{% endblock %}
{% block content %}
    <div class="main-content">
    <div class="wrap-banner">

        <!-- breadcrumb -->
        <nav class="breadcrumb-bg">
            <div class="container no-index">
                <div class="breadcrumb">
                    <ol>
                        <li>
                            <a href="{% url 'pages:home' %}">
                                <span>Home</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span>My Account</span>
                            </a>
                        </li>
                    </ol>
                </div>
            </div>
        </nav>
    </div>

    <!-- main -->
    <div id="wrapper-site">
        <div class="container">
            <div class="row">
                <div id="content-wrapper" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 onecol">
                    <div id="main">
                        <div id="content" class="page-content">
                            <div class="register-form text-center">
                                <h1 class="text-center title-page">{% trans 'Update Account' %}</h1>
                                <form action="{% url 'users:account' %}" id="customer-form" class="js-customer-form" method="post">
                                    {% csrf_token %}
                                    <div>
                                        <div class="form-group">
                                            <div>
                                                <input value="{{ user.first_name }}" class="form-control" name="first_name" type="text"
                                                       placeholder="First name">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div>
                                                <input value="{{ user.last_name }}" class="form-control" name="last_name" type="text"
                                                       placeholder="Last name">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div>
                                                <input value="{{ user.email }}" class="form-control" name="email" type="email"
                                                       placeholder="Email">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div>
                                                <input value="{{ user.username }}" class="form-control" name="username" type="text"
                                                       placeholder="Username">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix">
                                        <div>
                                            <button class="btn btn-primary" data-link-action="sign-in" type="submit">
                                                Update Account
                                            </button>
                                                <a href="{% url 'users:update-password' %}" class="btn btn-primary">
                                                Change Password
                                                </a>

                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}